.welcome-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__wrapper {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
  }

  &__input {
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 7px 18px;
    width: 100%;
    line-height: 40px;
    background-color: var(--semi-grey-color);
  }

  &__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    color: var(--grey-color);
  }

  &__btn {
    margin-bottom: 13px;
    border-radius: 10px;
    padding: 18px 36px;
    font-family: var(--sans-semi);
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
    color: #fff;
    background: var(--purple-color);
  }

  &__error {
    position: absolute;
    left: 15px;
    top: -17px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #ff6972;
  }
}

.welcome-form-invalid {
  outline: 1px solid #ff6972;
}

.welcome-form-valid {
  outline: 1px solid #b8ec64;
}

.welcome-form__error .just-validate-error-label {
  color: #ff6972 !important;
}
