.graph-modal {
  &__container {
    padding: 30px;
    width: 673px;

    @include mobile {
      width: 300px;
    }
  }

  &__title {
    margin-bottom: 5px;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    line-height: 100%;
    color: var(--black, #333);
  }

  &__descr {
    margin-bottom: 30px;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: normal;
    color: var(--black, #333);
  }
}

.thank-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 117px 0;

  &__img {
    margin-bottom: 20px;
    width: 170px;
    height: 117px;
    background-image: url("../img/big-logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__title {
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    line-height: 100%;
    color: var(--black, #333);
  }
}

.swiper.detail-swiper-bottom-2 {
  padding: 15px;
  background-color: #f6f6f6;
}
