<div id="mobile-catalog-filter" class="filter">
  <h3 class="title-reset filter__title">Фильтровать по:</h3>
  <h3 class="title-reset filter__title tablet-display">Каталог</h3>
  <div class="filter-type">
    <span class="filter-type__title">Категория</span>
    <span class="filter-type__title filter-type__title-tablet tablet-display">Фильтры:</span>
    <ul class="list-reset filter-mobile-list">
      <li class="filter-item" data-filter="one">
        <button class="filter-item__placeholder js-filter-dropdown-btn" data-path="one">
          <span>Категория</span>
          <span class="filter-item___icon"></span>
        </button>
        <div class="filter-item__dropdown filter-dropdown js-filter-dropdown" data-target="one">

          <ul class="list-reset filter-dropdown__list">
            <li class="filter-dropdown__li">
              <label class="custom-checkbox">
                <input type="checkbox">
                <span class="catalog-checkmark"></span>
                <span class="catalog-agreement">Диваны</span>
              </label>
            </li>
            <li class="filter-dropdown__li">
              <label class="custom-checkbox">
                <input type="checkbox">
                <span class="catalog-checkmark"></span>
                <span class="catalog-agreement">Кресла</span>
              </label>
            </li>
            <li class="filter-dropdown__li">
              <label class="custom-checkbox">
                <input type="checkbox">
                <span class="catalog-checkmark"></span>
                <span class="catalog-agreement">Пуфы</span>
              </label>
            </li>
            <li class="filter-dropdown__li">
              <label class="custom-checkbox">
                <input type="checkbox">
                <span class="catalog-checkmark"></span>
                <span class="catalog-agreement">Кровати</span>
              </label>
            </li>
            <li class="filter-dropdown__li">
              <label class="custom-checkbox">
                <input type="checkbox">
                <span class="catalog-checkmark"></span>
                <span class="catalog-agreement">Тумбы</span>
              </label>
            </li>
            <li class="filter-dropdown__li">
              <label class="custom-checkbox">
                <input type="checkbox">
                <span class="catalog-checkmark"></span>
                <span class="catalog-agreement">Комоды</span>
              </label>
            </li>
            <li class="filter-dropdown__li">
              <label class="custom-checkbox">
                <input type="checkbox">
                <span class="catalog-checkmark"></span>
                <span class="catalog-agreement">Стулья</span>
              </label>
            </li>
            <li class="filter-dropdown__li">
              <label class="custom-checkbox">
                <input type="checkbox">
                <span class="catalog-checkmark"></span>
                <span class="catalog-agreement">Столы</span>
              </label>
            </li>
            <li class="filter-dropdown__li">
              <label class="custom-checkbox">
                <input type="checkbox">
                <span class="catalog-checkmark"></span>
                <span class="catalog-agreement">Аксессуары</span>
              </label>
            </li>
            <li class="filter-more">
              + еще 12
            </li>
          </ul>

        </div>
      </li>
      <li class="filter-item" data-filter="two">
        <button class="filter-item__placeholder js-filter-dropdown-btn" data-path="two">
          <span>Цена</span>
          <span class="filter-item___icon"></span>
        </button>
        <div class="filter-item__dropdown filter-dropdown filters-price js-filter-dropdown" data-target="two">
          <div class="filters-price__inputs">
            <div class="filters-price-content">
              <span class="filters-price__text">от</span>
              <label class="filters-price__label">
                <input type="number" min="2000" max="150000" placeholder="2000" class="filters-price__input">
              </label>
            </div>


            <div class="filters-price-content">
              <span class="filters-price__text">до</span>
              <label class="filters-price__label">
                <input type="number" min="2000" max="150000" placeholder="150 000" class="filters-price__input">
              </label>
            </div>

          </div>
        </div>
      </li>
      <li class="filter-item" data-filter="three">
        <button class="filter-item__placeholder js-filter-dropdown-btn" data-path="three">
          <span>Скидка</span>
          <span class="filter-item___icon"></span>
        </button>
        <div class="filter-item__dropdown filter-dropdown js-filter-dropdown" data-target="three">

          <ul class="list-reset filter-dropdown__list">
            <li class="filter-dropdown__li">
              <label class="custom-checkbox">
                <input type="checkbox">
                <span class="catalog-checkmark"></span>
                <span class="catalog-agreement">Более 5 000</span>
              </label>
            </li>
            <li class="filter-dropdown__li">
              <label class="custom-checkbox">
                <input type="checkbox">
                <span class="catalog-checkmark"></span>
                <span class="catalog-agreement">Менее 5 000</span>
              </label>
            </li>
            <li class="filter-dropdown__li">
              <label class="custom-checkbox">
                <input type="checkbox">
                <span class="catalog-checkmark"></span>
                <span class="catalog-agreement">Не важно</span>
              </label>
            </li>
          </ul>

        </div>
      </li>
      <li class="filter-item" data-filter="four">
        <button class="filter-item__placeholder js-filter-dropdown-btn" data-path="four">
          <span>Цвет</span>
          <span class="filter-item___icon"></span>
        </button>
        <div class="filter-item__dropdown filter-dropdown js-filter-dropdown" data-target="four">
          <ul class="list-reset filter-dropdown__list">
            <li class="filter-dropdown__li">
              <label class="custom-checkbox">
                <input type="checkbox">
                <span class="catalog-checkmark"></span>
                <span class="catalog-agreement">Коричневый</span>
              </label>
            </li>
            <li class="filter-dropdown__li">
              <label class="custom-checkbox">
                <input type="checkbox">
                <span class="catalog-checkmark"></span>
                <span class="catalog-agreement">Черный</span>
              </label>
            </li>
            <li class="filter-dropdown__li">
              <label class="custom-checkbox">
                <input type="checkbox">
                <span class="catalog-checkmark"></span>
                <span class="catalog-agreement">Бежевый</span>
              </label>
            </li>
            <li class="filter-dropdown__li">
              <label class="custom-checkbox">
                <input type="checkbox">
                <span class="catalog-checkmark"></span>
                <span class="catalog-agreement">Серый</span>
              </label>
            </li>
            <li class="filter-dropdown__li">
              <label class="custom-checkbox">
                <input type="checkbox">
                <span class="catalog-checkmark"></span>
                <span class="catalog-agreement">Белый</span>
              </label>
            </li>
            <li class="filter-dropdown__li">
              <label class="custom-checkbox">
                <input type="checkbox">
                <span class="catalog-checkmark"></span>
                <span class="catalog-agreement">Синий</span>
              </label>
            </li>
            <li class="filter-dropdown__li">
              <label class="custom-checkbox">
                <input type="checkbox">
                <span class="catalog-checkmark"></span>
                <span class="catalog-agreement">Оранжевый</span>
              </label>
            </li>
            <li class="filter-dropdown__li">
              <label class="custom-checkbox">
                <input type="checkbox">
                <span class="catalog-checkmark"></span>
                <span class="catalog-agreement">Желтый</span>
              </label>
            </li>
            <li class="filter-dropdown__li">
              <label class="custom-checkbox">
                <input type="checkbox">
                <span class="catalog-checkmark"></span>
                <span class="catalog-agreement">Зеленый</span>
              </label>
            </li>
            <li class="filter-more">
              + еще 7
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>