<h3 class="title-reset catalog-content__title">Каталог</h3>
<div class="swiper catalog-swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="card rating-card mobile-catalog-card">
        <span class="rating-card__star">
          <svg class="rating-card__star-svg">
            <use xlink:href="img/sprite.svg#star"></use>
          </svg>
          <span class="rating-card__star-text">5.0</span>
        </span>
        <img src="../img/rating-1920-1.png" alt="картинка" class="rating-card__img">
        <div class="rating-card__content">
          <h3 class="title-reset rating-card__name">Диван кожаный<br>“R-94”</h3>
          <span class="rating-card__price">94 990 руб</span>
          <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card rating-card mobile-catalog-card">
        <span class="rating-card__star">
          <svg class="rating-card__star-svg">
            <use xlink:href="img/sprite.svg#star"></use>
          </svg>
          <span class="rating-card__star-text">4.8</span>
        </span>
        <img src="../img/rating-1920-4.png" alt="картинка" class="rating-card__img">
        <div class="rating-card__content">
          <h3 class="title-reset rating-card__name">Диван велюровый<br>“Y-68”</h3>
          <span class="rating-card__price">22 990 руб</span>
          <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card rating-card mobile-catalog-card">
        <span class="rating-card__star">
          <svg class="rating-card__star-svg">
            <use xlink:href="img/sprite.svg#star"></use>
          </svg>
          <span class="rating-card__star-text">4.8</span>
        </span>
        <img src="../img/rating-1920-7.png" alt="картинка" class="rating-card__img">
        <div class="rating-card__content">
          <h3 class="title-reset rating-card__name">Диван шиниловый <br>“V-43”</h3>
          <span class="rating-card__price">19 990 руб</span>
          <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card rating-card mobile-catalog-card">
        <span class="rating-card__star">
          <svg class="rating-card__star-svg">
            <use xlink:href="img/sprite.svg#star"></use>
          </svg>
          <span class="rating-card__star-text">4.9</span>
        </span>
        <img src="../img/rating-1920-2.png" alt="картинка" class="rating-card__img">
        <div class="rating-card__content">
          <h3 class="title-reset rating-card__name">Диван апартековый <br> “T-75”</h3>
          <span class="rating-card__price">69 990 руб</span>
          <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card rating-card mobile-catalog-card">
        <span class="rating-card__star">
          <svg class="rating-card__star-svg">
            <use xlink:href="img/sprite.svg#star"></use>
          </svg>
          <span class="rating-card__star-text">4.8</span>
        </span>
        <img src="../img/rating-1920-5.png" alt="картинка" class="rating-card__img">
        <div class="rating-card__content">
          <h3 class="title-reset rating-card__name">Диван из шинила <br>“W-95”</h3>
          <span class="rating-card__price">22 990 руб</span>
          <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card rating-card mobile-catalog-card">
        <span class="rating-card__star">
          <svg class="rating-card__star-svg">
            <use xlink:href="img/sprite.svg#star"></use>
          </svg>
          <span class="rating-card__star-text">4.7</span>
        </span>
        <img src="../img/rating-1920-3.png" alt="картинка" class="rating-card__img">
        <div class="rating-card__content">
          <h3 class="title-reset rating-card__name">Диван велюровый <br>“S-99”</h3>
          <span class="rating-card__price">19 990 руб</span>
          <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card rating-card mobile-catalog-card">
        <span class="rating-card__star">
          <svg class="rating-card__star-svg">
            <use xlink:href="img/sprite.svg#star"></use>
          </svg>
          <span class="rating-card__star-text">4.8</span>
        </span>
        <img src="../img/rating-1920-3.png" alt="картинка" class="rating-card__img">
        <div class="rating-card__content">
          <h3 class="title-reset rating-card__name">Диван тканевый<br>“D-31”</h3>
          <span class="rating-card__price">28 490 руб</span>
          <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card rating-card mobile-catalog-card">
        <span class="rating-card__star">
          <svg class="rating-card__star-svg">
            <use xlink:href="img/sprite.svg#star"></use>
          </svg>
          <span class="rating-card__star-text">4.8</span>
        </span>
        <img src="../img/rating-1920-6.png" alt="картинка" class="rating-card__img">
        <div class="rating-card__content">
          <h3 class="title-reset rating-card__name">Диван флоковый<br>“G-41”</h3>
          <span class="rating-card__price">17 990 руб</span>
          <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card rating-card mobile-catalog-card">
        <span class="rating-card__star">
          <svg class="rating-card__star-svg">
            <use xlink:href="img/sprite.svg#star"></use>
          </svg>
          <span class="rating-card__star-text">4.7</span>
        </span>
        <img src="../img/catalog-1.png" alt="картинка" class="rating-card__img">
        <div class="rating-card__content">
          <h3 class="title-reset rating-card__name">Диван из кожзама<br>“F-85”</h3>
          <span class="rating-card__price">26 990 руб</span>
          <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card rating-card mobile-catalog-card">
        <span class="rating-card__star">
          <svg class="rating-card__star-svg">
            <use xlink:href="img/sprite.svg#star"></use>
          </svg>
          <span class="rating-card__star-text">4.6</span>
        </span>
        <img src="../img/catalog-2.png" alt="картинка" class="rating-card__img">
        <div class="rating-card__content">
          <h3 class="title-reset rating-card__name">Диван флоковый<br>“H-64”</h3>
          <span class="rating-card__price">25 990 руб</span>
          <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card rating-card mobile-catalog-card">
        <span class="rating-card__star">
          <svg class="rating-card__star-svg">
            <use xlink:href="img/sprite.svg#star"></use>
          </svg>
          <span class="rating-card__star-text">4.5</span>
        </span>
        <img src="../img/catalog-7.png" alt="картинка" class="rating-card__img">
        <div class="rating-card__content">
          <h3 class="title-reset rating-card__name">Диван велюровый<br>“R-85”</h3>
          <span class="rating-card__price">34 990 руб</span>
          <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card rating-card mobile-catalog-card">
        <span class="rating-card__star">
          <svg class="rating-card__star-svg">
            <use xlink:href="img/sprite.svg#star"></use>
          </svg>
          <span class="rating-card__star-text">4.6</span>
        </span>
        <img src="../img/catalog-6.png" alt="картинка" class="rating-card__img">
        <div class="rating-card__content">
          <h3 class="title-reset rating-card__name">Диван велюровый<br>“U-58”</h3>
          <span class="rating-card__price">21 990 руб</span>
          <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card rating-card mobile-catalog-card">
        <span class="rating-card__star">
          <svg class="rating-card__star-svg">
            <use xlink:href="img/sprite.svg#star"></use>
          </svg>
          <span class="rating-card__star-text">4.6</span>
        </span>
        <img src="../img/catalog-3.png" alt="картинка" class="rating-card__img">
        <div class="rating-card__content">
          <h3 class="title-reset rating-card__name">Диван флоковый<br>“H-58”</h3>
          <span class="rating-card__price">23 990 руб</span>
          <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card rating-card mobile-catalog-card">
        <span class="rating-card__star">
          <svg class="rating-card__star-svg">
            <use xlink:href="img/sprite.svg#star"></use>
          </svg>
          <span class="rating-card__star-text">4.6</span>
        </span>
        <img src="../img/catalog-8.png" alt="картинка" class="rating-card__img">
        <div class="rating-card__content">
          <h3 class="title-reset rating-card__name">Диван велюровый<br>“R-85”</h3>
          <span class="rating-card__price">21 990 руб</span>
          <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card rating-card mobile-catalog-card">
        <span class="rating-card__star">
          <svg class="rating-card__star-svg">
            <use xlink:href="img/sprite.svg#star"></use>
          </svg>
          <span class="rating-card__star-text">4.5</span>
        </span>
        <img src="../img/catalog-8.png" alt="картинка" class="rating-card__img">
        <div class="rating-card__content">
          <h3 class="title-reset rating-card__name">Диван велюровый<br>“S-44”</h3>
          <span class="rating-card__price">19 990 руб</span>
          <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card rating-card mobile-catalog-card">
        <span class="rating-card__star">
          <svg class="rating-card__star-svg">
            <use xlink:href="img/sprite.svg#star"></use>
          </svg>
          <span class="rating-card__star-text">4.6</span>
        </span>
        <img src="../img/catalog-4.png" alt="картинка" class="rating-card__img">
        <div class="rating-card__content">
          <h3 class="title-reset rating-card__name">Диван из кожзама<br>“H-58”</h3>
          <span class="rating-card__price">33 990 руб</span>
          <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card rating-card mobile-catalog-card">
        <span class="rating-card__star">
          <svg class="rating-card__star-svg">
            <use xlink:href="img/sprite.svg#star"></use>
          </svg>
          <span class="rating-card__star-text">4.6</span>
        </span>
        <img src="../img/catalog-7.png" alt="картинка" class="rating-card__img">
        <div class="rating-card__content">
          <h3 class="title-reset rating-card__name">Диван флоковый<br>“F-41”</h3>
          <span class="rating-card__price">17 990 руб</span>
          <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card rating-card mobile-catalog-card">
        <span class="rating-card__star">
          <svg class="rating-card__star-svg">
            <use xlink:href="img/sprite.svg#star"></use>
          </svg>
          <span class="rating-card__star-text">4.6</span>
        </span>
        <img src="../img/catalog-10.png" alt="картинка" class="rating-card__img">
        <div class="rating-card__content">
          <h3 class="title-reset rating-card__name">Диван из шинила<br>“C-80”</h3>
          <span class="rating-card__price">20 990 руб</span>
          <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="swiper-pag"></div>