<button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
  <span class="burger__line"></span>
</button>
<nav class="nav-bottom" data-menu>
  <div class="burger-content">
    <ul class="nav-bottom__ul list-reset">
      <li class="nav-bottom__li"><a href="#" class="link-reset nav-bottom__link header-nav-anim">Каталог</a>
      </li>
      <li class="nav-bottom__li"><a href="#" class="link-reset nav-bottom__link header-nav-anim">Магазины</a>
      </li>
      <li class="nav-bottom__li"><a href="#" class="link-reset nav-bottom__link header-nav-anim">Шоу-рум</a>
      </li>
      <li class="nav-bottom__li"><a href="#" class="link-reset nav-bottom__link header-nav-anim">Доставка и
          оплата</a></li>
      <li class="nav-bottom__li"><a href="#" class="link-reset nav-bottom__link header-nav-anim">Дисконт</a>
      </li>
      <li class="nav-bottom__li"><a href="#" class="link-reset nav-bottom__link header-nav-anim">Контакты</a>
      </li>
    </ul>
  </div>
  <div class="menu-wrapper">
    @include('header-top-nav.html')
  </div>
</nav>