<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-top__container">
        <div class="footer-info">
          <a href="#" class="link-reset footer__logo"><img src="../img/logo.svg" alt="Логотип"></a>
          <div class="footer-soc">
            <a href="#" class="link-reset footer-soc__link footer-svg-anim" aria-label="ссылка на фейсбук">
              <svg class="footer-soc__svg">
                <use xlink:href="img/sprite.svg#fb"></use>
              </svg>
            </a>
            <a href="#" class="link-reset footer-soc__link footer-svg-anim" aria-label="ссылка на вконтакте">
              <svg class="footer-soc__svg">
                <use xlink:href="img/sprite.svg#vk"></use>
              </svg>
            </a>
            <a href="#" class="link-reset footer-soc__link footer-svg-anim" aria-label="ссылка на инстаграм">
              <svg class="footer-soc__svg">
                <use xlink:href="img/sprite.svg#instagram"></use>
              </svg>
            </a>
          </div>
        </div>
        <nav class="footer-nav">
          <ul class="list-reset footer-nav__ul">
            <li class="footer-nav__li footer-nav__li-main"><a href="#"
                class="link-reset footer-nav__link footer-nav__link-main header-nav-anim">О нас</a>
            </li>
            <li class="footer-nav__li"><a href="#" class="link-reset footer-nav__link header-nav-anim">О компании</a>
            </li>
            <li class="footer-nav__li"><a href="#" class="link-reset footer-nav__link header-nav-anim">Блог</a></li>
          </ul>
          <ul class="list-reset footer-nav__ul">
            <li class="footer-nav__li footer-nav__li-main"><a href="#"
                class="link-reset footer-nav__link footer-nav__link-main header-nav-anim">Услуги</a>
            </li>
            <li class="footer-nav__li"><a href="#" class="link-reset footer-nav__link header-nav-anim">Доставка</a></li>
            <li class="footer-nav__li"><a href="#" class="link-reset footer-nav__link header-nav-anim">Рассрочка и
                кредит</a></li>
            <li class="footer-nav__li"><a href="#" class="link-reset footer-nav__link header-nav-anim">Сборка и
                установка</a></li>
          </ul>
          <ul class="list-reset footer-nav__ul">
            <li class="footer-nav__li footer-nav__li-main"><a href="#"
                class="link-reset footer-nav__link footer-nav__link-main header-nav-anim">Связь с
                нами</a></li>
            <li class="footer-nav__li"><a href="#" class="link-reset footer-nav__link header-nav-anim">Обратная
                связь</a>
            </li>
            <li class="footer-nav__li"><a href="#" class="link-reset footer-nav__link header-nav-anim">Контакты</a></li>
          </ul>

          <ul class="list-reset footer-nav__ul">
            <li class="footer-nav__li footer-nav__li-main"><a href="#"
                class="link-reset footer-nav__link footer-nav__link-main header-nav-anim">Сотрудничество</a></li>
            <li class="footer-nav__li"><a href="#" class="link-reset footer-nav__link header-nav-anim">Поставщикам</a>
            </li>
            <li class="footer-nav__li"><a href="#" class="link-reset footer-nav__link header-nav-anim">Оптовикам</a>
            </li>
            <li class="footer-nav__li"><a href="#" class="link-reset footer-nav__link header-nav-anim">Карьера</a></li>
          </ul>
        </nav>
      </div>


    </div>
  </div>
  <div class="footer-bottom container">
    <span class="footer-bottom__rights">SDP® 2011-2021</span>
  </div>
</footer>