<section class="hero">
  <div class="swiper hero-swiper">
    <div class="swiper-wrapper hero-wrapper">
      <div class="swiper-slide hero-slide">
        <div class="container">
          <div class="hero-slide__content">
            <h2 class="title-reset hero__title">Скидка 15% на первую покупку</h2>
            <a href="#" class="link-reset hero__btn btn-anim">Получить!</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide hero-slide">
        <div class="container">
          <div class="hero-slide__content">
            <h2 class="title-reset hero__title">1000+ аксессуаров для дома</h2>
            <a href="#" class="link-reset hero__btn btn-anim">Получить!</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide hero-slide">
        <div class="container">
          <div class="hero-slide__content">
            <h2 class="title-reset hero__title" style="color: #fff;">Коллекция стильного и яркого текстиля</h2>
            <a href="#" class="link-reset hero__btn btn-anim">Получить!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <a href="#" class="link-reset hero__btn-mobile hero__btn btn-anim">Получить!</a>
  </div>
</section>