<section class="offers">
  <div class="container">
    <div class="offers-container">
      <div class="offers__top-wrap">
        <h2 class="title-reset offers__title title">Специальные предложения</h2>
        <div class="offers__pagination">
          <button class="offers-back btn-reset">
            <svg class="offers-back__svg arrow-btn-anim">
              <g clip-path="url(#clip0_663_1732)">
                <circle class="arrow-circle" cx="16" cy="16" r="15" fill="#FFF" stroke="#A65CF0" stroke-width="2" />
                <path d="M14 11L19 16L14 21" class="arrow-path" stroke="#A65CF0" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </g>
            </svg>
          </button>
          <button class="offers-next btn-reset arrow-btn-anim">
            <svg class="offers-next__svg" width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_663_1731)">
                <circle class="arrow-circle" cx="16" cy="16" r="15" fill="#FFF" stroke="#A65CF0" stroke-width="2" />
                <path d="M14 11L19 16L14 21" class="arrow-path" stroke="#A65CF0" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </g>
              <defs>
                <clipPath>
                  <rect width="32" height="32" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </button>
        </div>
      </div>
      <div class="swiper offers-swiper">
        <div class="swiper-wrapper offers-wrapper">
          <div class="swiper-slide offers-slide">
            <div class="hexagon-wrapper">
              <div class="hexagon hex-1"></div>
            </div>
            <div class="offers-slide__bot">
              <img src="../img/spec-1920-1.png" alt="картинка" class="offers-slide__img">
              <h3 class="title-reset offers-slide__title">Кресло велюровое “X-24”</h3>
              <div class="offers-price">
                <span class="offers-slide__price">15 990 руб</span>
                <span class="offers-slide__price offers-slide__price--crossed">24 990 руб</span>
              </div>
              <a href="#" class="offers__btn btn-anim-transp">Купить</a>
            </div>
          </div>
          <div class="swiper-slide offers-slide offers-slide--big">
            <div class="hexagon-wrapper">
              <div class="hexagon hex-2"></div>
            </div>
            <div class="offers-slide__bot">
              <img src="../img/spec-1920-2.png" alt="картинка" class="offers-slide__img">
              <h3 class="title-reset offers-slide__title">Диван тканевый “Z-44”</h3>
              <div class="offers-price">
                <span class="offers-slide__price">22 990 руб</span>
                <span class="offers-slide__price offers-slide__price--crossed">32 990 руб</span>
              </div>
              <a href="#" class="offers__btn btn-anim-transp">Купить</a>
              <div class="big-slide-img big-slide-img-1"></div>
            </div>
          </div>
          <div class="swiper-slide offers-slide">
            <div class="hexagon-wrapper">
              <div class="hexagon hex-3"></div>
            </div>
            <div class="offers-slide__bot">
              <img src="../img/spec-1920-3.png" alt="картинка" class="offers-slide__img">
              <h3 class="title-reset offers-slide__title">Будильник “Quartz-23”</h3>
              <div class="offers-price">
                <span class="offers-slide__price">1 290 руб</span>
                <span class="offers-slide__price offers-slide__price--crossed">1 890 руб</span>
              </div>
              <a href="#" class="offers__btn btn-anim-transp">Купить</a>
            </div>
          </div>
          <div class="swiper-slide offers-slide">
            <div class="hexagon-wrapper">
              <div class="hexagon hex-4"></div>
            </div>
            <div class="offers-slide__bot">
              <img src="../img/spec-1920-4.png" alt="картинка" class="offers-slide__img">
              <h3 class="title-reset offers-slide__title">Мини-скульптура “Oh my deer”</h3>
              <div class="offers-price">
                <span class="offers-slide__price">690 руб</span>
                <span class="offers-slide__price offers-slide__price--crossed">990 руб</span>
              </div>
              <a href="#" class="offers__btn btn-anim-transp">Купить</a>
            </div>
          </div>
          <div class="swiper-slide offers-slide offers-slide--big">
            <div class="hexagon-wrapper">
              <div class="hexagon hex-5"></div>
            </div>
            <div class="offers-slide__bot">
              <img src="../img/spec-1920-5.png" alt="картинка" class="offers-slide__img">
              <h3 class="title-reset offers-slide__title">Диван вел-флок “Z-85”</h3>
              <div class="offers-price">
                <span class="offers-slide__price">22 990 руб</span>
                <span class="offers-slide__price offers-slide__price--crossed">32 990 руб</span>
              </div>
              <a href="#" class="offers__btn btn-anim-transp">Купить</a>
              <div class="big-slide-img big-slide-img-2"></div>
            </div>
          </div>
          <div class="swiper-slide offers-slide">
            <div class="hexagon-wrapper">
              <div class="hexagon hex-6"></div>
            </div>
            <div class="offers-slide__bot">
              <img src="../img/spec-1920-6.png" alt="картинка" class="offers-slide__img">
              <h3 class="title-reset offers-slide__title">Термометр + гидрометр “H-18”</h3>
              <div class="offers-price">
                <span class="offers-slide__price">1 390 руб</span>
                <span class="offers-slide__price offers-slide__price--crossed">2 090 руб</span>
              </div>
              <a href="#" class="offers__btn btn-anim-transp">Купить</a>
            </div>
          </div>
        </div>
      </div>
      <div class="offers__pagination offers__pagination-mobile">
        <div class="offers-pagintaion-content">
          <button class="offers-back btn-reset">
            <svg class="offers-back__svg arrow-btn-anim">
              <g clip-path="url(#clip0_663_1732)">
                <circle class="arrow-circle" cx="16" cy="16" r="15" fill="#FFF" stroke="#A65CF0" stroke-width="2" />
                <path d="M14 11L19 16L14 21" class="arrow-path" stroke="#A65CF0" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </g>
            </svg>
          </button>
          <button class="offers-next btn-reset arrow-btn-anim">
            <svg class="offers-next__svg" width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_663_1731)">
                <circle class="arrow-circle" cx="16" cy="16" r="15" fill="#FFF" stroke="#A65CF0" stroke-width="2" />
                <path d="M14 11L19 16L14 21" class="arrow-path" stroke="#A65CF0" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </g>
              <defs>
                <clipPath id="clip0_663_1731">
                  <rect width="32" height="32" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </button>
        </div>

      </div>
    </div>
  </div>

</section>
