<div class="rating-grid">
  <div class="card rating-card mobile-media">
    <span class="rating-card__star">
      <svg class="rating-card__star-svg">
        <use xlink:href="img/sprite.svg#star"></use>
      </svg>
      <span class="rating-card__star-text">5.0</span>
    </span>
    <img src="../img/rating-1920-1.png" alt="картинка" class="rating-card__img">
    <div class="rating-card__content">
      <h3 class="title-reset rating-card__name">Диван кожаный <br>&laquo;R-94&raquo;</h3>
      <span class="rating-card__price">94 990 руб</span>
      <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
    </div>
  </div>
  <div class="card rating-card mobile-media">
    <span class="rating-card__star">
      <svg class="rating-card__star-svg">
        <use xlink:href="img/sprite.svg#star"></use>
      </svg>
      <span class="rating-card__star-text">4.9</span>
    </span>
    <img src="../img/rating-1920-2.png" alt="картинка" class="rating-card__img">
    <div class="rating-card__content">
      <h3 class="title-reset rating-card__name">Диван апартековый <br> “T-75”</h3>
      <span class="rating-card__price">69 990 руб</span>
      <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
    </div>
  </div>
  <div class="card rating-card mobile-media">
    <span class="rating-card__star">
      <svg class="rating-card__star-svg">
        <use xlink:href="img/sprite.svg#star"></use>
      </svg>
      <span class="rating-card__star-text">4.8</span>
    </span>
    <img src="../img/rating-1920-3.png" alt="картинка" class="rating-card__img">
    <div class="rating-card__content">
      <h3 class="title-reset rating-card__name">Диван тканевый<br>“D-31”</h3>
      <span class="rating-card__price">28 490 руб</span>
      <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
    </div>
  </div>
  <div class="card rating-card mobile-media">
    <span class="rating-card__star">
      <svg class="rating-card__star-svg">
        <use xlink:href="img/sprite.svg#star"></use>
      </svg>
      <span class="rating-card__star-text">4.8</span>
    </span>
    <img src="../img/rating-1920-4.png" alt="картинка" class="rating-card__img">
    <div class="rating-card__content">
      <h3 class="title-reset rating-card__name">Диван велюровый<br>“Y-68”</h3>
      <span class="rating-card__price">22 990 руб</span>
      <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
    </div>
  </div>
  <div class="card rating-card mobile-media">
    <span class="rating-card__star">
      <svg class="rating-card__star-svg">
        <use xlink:href="img/sprite.svg#star"></use>
      </svg>
      <span class="rating-card__star-text">4.8</span>
    </span>
    <img src="../img/rating-1920-5.png" alt="картинка" class="rating-card__img">
    <div class="rating-card__content">
      <h3 class="title-reset rating-card__name">Диван из шинила <br>“W-95”</h3>
      <span class="rating-card__price">22 990 руб</span>
      <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
    </div>
  </div>
  <div class="card rating-card mobile-media">
    <span class="rating-card__star">
      <svg class="rating-card__star-svg">
        <use xlink:href="img/sprite.svg#star"></use>
      </svg>
      <span class="rating-card__star-text">4.8</span>
    </span>
    <img src="../img/rating-1920-6.png" alt="картинка" class="rating-card__img">
    <div class="rating-card__content">
      <h3 class="title-reset rating-card__name">Диван флоковый<br>“G-41”</h3>
      <span class="rating-card__price">17 990 руб</span>
      <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
    </div>
  </div>
  <div class="card rating-card mobile-media">
    <span class="rating-card__star">
      <svg class="rating-card__star-svg">
        <use xlink:href="img/sprite.svg#star"></use>
      </svg>
      <span class="rating-card__star-text">4.8</span>
    </span>
    <img src="../img/rating-1920-7.png" alt="картинка" class="rating-card__img">
    <div class="rating-card__content">
      <h3 class="title-reset rating-card__name">Диван шиниловый <br>“V-43”</h3>
      <span class="rating-card__price">19 990 руб</span>
      <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
    </div>
  </div>
  <div class="card rating-card mobile-media">
    <span class="rating-card__star">
      <svg class="rating-card__star-svg">
        <use xlink:href="img/sprite.svg#star"></use>
      </svg>
      <span class="rating-card__star-text">4.7</span>
    </span>
    <img src="../img/rating-1920-8.png" alt="картинка" class="rating-card__img">
    <div class="rating-card__content">
      <h3 class="title-reset rating-card__name">Диван велюровый <br>“S-99”</h3>
      <span class="rating-card__price">19 990 руб</span>
      <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
    </div>
  </div>
</div>