<section class="categories">
  <div class="container">
    <div class="categories-container">
      <h2 class="title-reset categories__title title">Топ категории</h2>
      <div class="categories-grid">
        <div class="categories__card categ-card">
          <div class="categories__content">
            <ul class="list-reset categ-card__list">
              <li><a href="#" class="link-reset categ-card__el header-nav-anim">Прямые</a></li>
              <li><a href="#" class="link-reset categ-card__el header-nav-anim">Угловые</a></li>
              <li><a href="#" class="link-reset categ-card__el header-nav-anim">Модульные</a></li>
            </ul>
            <h3 class="title-reset categ-card__title">Диваны
              <span class="link-reset categ-card__btn arrow-btn-anim categ-small-svg">
                <svg class="categ-card__btn-svg" width="32" height="32" viewBox="0 0 32 32"
                  xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="u">
                    <circle class="arrow-circle" cx="16" cy="16" r="15" fill="#FFF" stroke="#A65CF0" stroke-width="2" />
                    <path d="M14 11L19 16L14 21" class="arrow-path" stroke="#A65CF0" stroke-width="2"
                      stroke-linecap="round" stroke-linejoin="round" />
                  </g>
                  <defs>
                    <clipPath>
                      <rect width="32" height="32" fill="white" />
                    </clipPath>
                  </defs>
                </svg>

              </span>
            </h3>
          </div>
          <img src="../img/top-categ-1.png" alt="Картинка мебели" class="categ-card__img-1">
          <div class="categories__content">
            <a href="#" class="link-reset categ-card__btn arrow-btn-anim"> <span>В каталог</span>
              <svg class="categ-card__btn-svg" width="32" height="32" viewBox="0 0 32 32"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="u">
                  <circle class="arrow-circle" cx="16" cy="16" r="15" fill="#FFF" stroke="#A65CF0" stroke-width="2" />
                  <path d="M14 11L19 16L14 21" class="arrow-path" stroke="#A65CF0" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
                </g>
                <defs>
                  <clipPath>
                    <rect width="32" height="32" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </a>
          </div>
        </div>
        <div class="categories__card categ-card">
          <div class="categories__content small-content">
            <ul class="list-reset categ-card__list">
              <li><a href="#" class="link-reset categ-card__el small-el header-nav-anim">Мягкие</a></li>
              <li><a href="#" class="link-reset categ-card__el small-el header-nav-anim">Кресла-кровати</a></li>
            </ul>
            <h3 class="title-reset categ-card__title small-title">Кресла
              <span class="link-reset categ-card__btn arrow-btn-anim categ-small-svg">
                <svg class="categ-card__btn-svg" width="32" height="32" viewBox="0 0 32 32"
                  xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="u">
                    <circle class="arrow-circle" cx="16" cy="16" r="15" fill="#FFF" stroke="#A65CF0" stroke-width="2" />
                    <path d="M14 11L19 16L14 21" class="arrow-path" stroke="#A65CF0" stroke-width="2"
                      stroke-linecap="round" stroke-linejoin="round" />
                  </g>
                  <defs>
                    <clipPath>
                      <rect width="32" height="32" fill="white" />
                    </clipPath>
                  </defs>
                </svg>

              </span>
            </h3>
          </div>
          <picture>
            <source srcset="../img/top-categ-2-320.webp" type="image/webp" media="(max-width: 576px)">
            <source srcset="../img/top-categ-2-768.webp" type="image/webp" media="(max-width: 1024px)">
            <img src="../img/top-categ-2.png" alt="Картинка мебели" class="categ-card__img">
          </picture>
          <div class="categories__content small-content">
            <a href="#" class="link-reset categ-card__btn arrow-btn-anim"> <span>В каталог</span>
              <svg class="categ-card__btn-svg" width="32" height="32" viewBox="0 0 32 32"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="u">
                  <circle class="arrow-circle" cx="16" cy="16" r="15" fill="#FFF" stroke="#A65CF0" stroke-width="2" />
                  <path d="M14 11L19 16L14 21" class="arrow-path" stroke="#A65CF0" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
                </g>
                <defs>
                  <clipPath>
                    <rect width="32" height="32" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </a>
          </div>
        </div>
        <div class="categories__card categ-card">
          <div class="categories__content small-content">
            <ul class="list-reset categ-card__list">
              <li><a href="#" class="link-reset categ-card__el small-el header-nav-anim">Односпальные</a></li>
              <li><a href="#" class="link-reset categ-card__el small-el header-nav-anim">Двуспальные</a></li>
            </ul>
            <h3 class="title-reset categ-card__title small-title">Кровати
              <span class="link-reset categ-card__btn arrow-btn-anim categ-small-svg">
                <svg class="categ-card__btn-svg" width="32" height="32" viewBox="0 0 32 32"
                  xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="u">
                    <circle class="arrow-circle" cx="16" cy="16" r="15" fill="#FFF" stroke="#A65CF0" stroke-width="2" />
                    <path d="M14 11L19 16L14 21" class="arrow-path" stroke="#A65CF0" stroke-width="2"
                      stroke-linecap="round" stroke-linejoin="round" />
                  </g>
                  <defs>
                    <clipPath>
                      <rect width="32" height="32" fill="white" />
                    </clipPath>
                  </defs>
                </svg>

              </span>
            </h3>
          </div>
          <picture>
            <source srcset="../img/top-categ-3-320.webp" type="image/webp" media="(max-width: 576px)">
            <source srcset="../img/top-categ-3-768.webp" type="image/webp" media="(max-width: 1024px)">
            <img src="../img/top-categ-3.png" alt="Картинка мебели" class="categ-card__img">
          </picture>
          <div class="categories__content small-content">
            <a href="#" class="link-reset categ-card__btn arrow-btn-anim"> <span>В каталог</span>
              <svg class="categ-card__btn-svg" width="32" height="32" viewBox="0 0 32 32"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="u">
                  <circle class="arrow-circle" cx="16" cy="16" r="15" fill="#FFF" stroke="#A65CF0" stroke-width="2" />
                  <path d="M14 11L19 16L14 21" class="arrow-path" stroke="#A65CF0" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
                </g>
                <defs>
                  <clipPath>
                    <rect width="32" height="32" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </a>
          </div>
        </div>
        <div class="categories__card categ-card">
          <div class="categories__content small-content">
            <ul class="list-reset categ-card__list">
              <li><a href="#" class="link-reset categ-card__el small-el header-nav-anim">Тумбы</a></li>
              <li><a href="#" class="link-reset categ-card__el small-el header-nav-anim">Комоды</a></li>

            </ul>
            <h3 class="title-reset categ-card__title small-title">Тумбы и комоды
              <span class="link-reset categ-card__btn arrow-btn-anim categ-small-svg">
                <svg class="categ-card__btn-svg" width="32" height="32" viewBox="0 0 32 32"
                  xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="u">
                    <circle class="arrow-circle" cx="16" cy="16" r="15" fill="#FFF" stroke="#A65CF0" stroke-width="2" />
                    <path d="M14 11L19 16L14 21" class="arrow-path" stroke="#A65CF0" stroke-width="2"
                      stroke-linecap="round" stroke-linejoin="round" />
                  </g>
                  <defs>
                    <clipPath>
                      <rect width="32" height="32" fill="white" />
                    </clipPath>
                  </defs>
                </svg>

              </span>
            </h3>
          </div>
          <picture>
            <source srcset="../img/top-categ-4-320.webp" type="image/webp" media="(max-width: 576px)">
            <source srcset="../img/top-categ-4-768.webp" type="image/webp" media="(max-width: 1024px)">
            <img src="../img/top-categ-4.png" alt="Картинка мебели" class="categ-card__img">
          </picture>
          <div class="categories__content small-content">
            <a href="#" class="link-reset categ-card__btn arrow-btn-anim"> <span>В каталог</span>
              <svg class="categ-card__btn-svg" width="32" height="32" viewBox="0 0 32 32"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="u">
                  <circle class="arrow-circle" cx="16" cy="16" r="15" fill="#FFF" stroke="#A65CF0" stroke-width="2" />
                  <path d="M14 11L19 16L14 21" class="arrow-path" stroke="#A65CF0" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
                </g>
                <defs>
                  <clipPath>
                    <rect width="32" height="32" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </a>
          </div>
        </div>
        <div class="categories__card categ-card">
          <div class="categories__content small-content">
            <ul class="list-reset categ-card__list">
              <li><a href="#" class="link-reset categ-card__el small-el header-nav-anim">Деревянные</a></li>
              <li><a href="#" class="link-reset categ-card__el small-el header-nav-anim">Металлокаркас</a></li>

            </ul>
            <h3 class="title-reset categ-card__title small-title">Стулья
              <span class="link-reset categ-card__btn arrow-btn-anim categ-small-svg">
                <svg class="categ-card__btn-svg" width="32" height="32" viewBox="0 0 32 32"
                  xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="u">
                    <circle class="arrow-circle" cx="16" cy="16" r="15" fill="#FFF" stroke="#A65CF0" stroke-width="2" />
                    <path d="M14 11L19 16L14 21" class="arrow-path" stroke="#A65CF0" stroke-width="2"
                      stroke-linecap="round" stroke-linejoin="round" />
                  </g>
                  <defs>
                    <clipPath>
                      <rect width="32" height="32" fill="white" />
                    </clipPath>
                  </defs>
                </svg>

              </span>
            </h3>
          </div>
          <picture>
            <source srcset="../img/top-categ-5-320.webp" type="image/webp" media="(max-width: 576px)">
            <source srcset="../img/top-categ-5-768.webp" type="image/webp" media="(max-width: 1024px)">
            <img src="../img/top-categ-5.png" alt="Картинка мебели" class="categ-card__img">
          </picture>
          <div class="categories__content small-content">
            <a href="#" class="link-reset categ-card__btn arrow-btn-anim"> <span>В каталог</span>
              <svg class="categ-card__btn-svg" width="32" height="32" viewBox="0 0 32 32"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="u">
                  <circle class="arrow-circle" cx="16" cy="16" r="15" fill="#FFF" stroke="#A65CF0" stroke-width="2" />
                  <path d="M14 11L19 16L14 21" class="arrow-path" stroke="#A65CF0" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
                </g>
                <defs>
                  <clipPath>
                    <rect width="32" height="32" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
