<section class="usefull">
  <div class="container">
    <div class="usefull-container">
      <div class="usefull-pag-wrap">
        <h2 class="title-reset usefull__title title">Полезное</h2>
        <div class="usefull__pagination">
          <button class="btn-reset usefull-back arrow-btn-anim">
            <svg class="usefull-back__svg" width="32" height="32" viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="u">
                <circle class="arrow-circle" cx="16" cy="16" r="15" fill="#FFF" stroke="#A65CF0" stroke-width="2" />
                <path d="M14 11L19 16L14 21" class="arrow-path" stroke="#A65CF0" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </g>
              <defs>
                <clipPath>
                  <rect width="32" height="32" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </button>
          <button class="btn-reset usefull-next arrow-btn-anim ">
            <svg class="usefull-next__svg" width="32" height="32" viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="u">
                <circle class="arrow-circle" cx="16" cy="16" r="15" fill="#FFF" stroke="#A65CF0" stroke-width="2" />
                <path d="M14 11L19 16L14 21" class="arrow-path" stroke="#A65CF0" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </g>
              <defs>
                <clipPath>
                  <rect width="32" height="32" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </button>
        </div>
      </div>

      <div class="swiper usefull-swiper">
        <div class="swiper-wrapper usefull-wrapper">
          <div class="swiper-slide usefull-slide">
            <div class="usefull-slide__img usefull-slide-img-1"></div>
            <div class="usefull-slide__content">
              <p class="title-reset usefull-slide__descr">И нет сомнений, что сделанные на базе интернет-аналитики
                выводы
                представляют собой не что иное?</p>
              <a href="#" class="link-reset usefull-slide__btn btn-anim-transp">Читать</a>
            </div>
          </div>
          <div class="swiper-slide usefull-slide">
            <div class="usefull-slide__img usefull-slide-img-2"></div>
            <div class="usefull-slide__content">
              <p class="title-reset usefull-slide__descr">Как принято считать, некоторые особенности приносят
                несомненную
                пользу обществу?</p>
              <a href="#" class="link-reset usefull-slide__btn btn-anim-transp">Читать</a>
            </div>
          </div>
          <div class="swiper-slide usefull-slide">
            <div class="usefull-slide__img usefull-slide-img-3"></div>
            <div class="usefull-slide__content">
              <p class="title-reset usefull-slide__descr">Ясность нашей позиции очевидна: укрепление и развитие
                внутренней
                структуры?</p>
              <a href="#" class="link-reset usefull-slide__btn btn-anim-transp">Читать</a>
            </div>
          </div>
          <div class="swiper-slide usefull-slide">
            <div class="usefull-slide__img usefull-slide-img-4"></div>
            <div class="usefull-slide__content">
              <p class="title-reset usefull-slide__descr">Прежде всего, консультация с широким активом однозначно
                фиксирует необходимость распределения?</p>
              <a href="#" class="link-reset usefull-slide__btn btn-anim-transp">Читать</a>
            </div>
          </div>
          <div class="swiper-slide usefull-slide">
            <div class="usefull-slide__img usefull-slide-img-5"></div>
            <div class="usefull-slide__content">
              <p class="title-reset usefull-slide__descr">Как принято считать, некоторые особенности приносят
                несомненную
                пользу обществу?</p>
              <a href="#" class="link-reset usefull-slide__btn btn-anim-transp">Читать</a>
            </div>
          </div>
        </div>
      </div>
      <div class="offers">
        <div class="offers__pagination offers__pagination-mobile">
          <div class="offers-pagintaion-content">
            <button class="usefull-back btn-reset">
              <svg class="usefull-back__svg arrow-btn-anim">
                <g clip-path="u">
                  <circle class="arrow-circle" cx="16" cy="16" r="15" fill="#FFF" stroke="#A65CF0" stroke-width="2" />
                  <path d="M14 11L19 16L14 21" class="arrow-path" stroke="#A65CF0" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
                </g>
              </svg>
            </button>
            <button class="usefull-next btn-reset arrow-btn-anim">
              <svg class="usefull-next__svg" width="32" height="32" viewBox="0 0 32 32"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="u">
                  <circle class="arrow-circle" cx="16" cy="16" r="15" fill="#FFF" stroke="#A65CF0" stroke-width="2" />
                  <path d="M14 11L19 16L14 21" class="arrow-path" stroke="#A65CF0" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
                </g>
                <defs>
                  <clipPath>
                    <rect width="32" height="32" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </button>
          </div>

        </div>
      </div>
    </div>


  </div>
</section>
