<section class="similar usefull">
  <div class="container">
    <div class="usefull-pag-wrap">
      <h2 class="title-reset similar__title">Похожие товары</h2>
      <div class="usefull__pagination">
        <button class="btn-reset similar-back arrow-btn-anim">
          <svg class="similar-back__svg" width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="u">
              <circle class="arrow-circle" cx="16" cy="16" r="15" fill="#FFF" stroke="#A65CF0" stroke-width="2" />
              <path d="M14 11L19 16L14 21" class="arrow-path" stroke="#A65CF0" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </g>
            <defs>
              <clipPath>
                <rect width="32" height="32" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </button>
        <button class="btn-reset similar-next arrow-btn-anim ">
          <svg class="similar-next__svg" width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="u">
              <circle class="arrow-circle" cx="16" cy="16" r="15" fill="#FFF" stroke="#A65CF0" stroke-width="2" />
              <path d="M14 11L19 16L14 21" class="arrow-path" stroke="#A65CF0" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </g>
            <defs>
              <clipPath>
                <rect width="32" height="32" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper similar-swiper">
      <div class="swiper-wrapper similar-wrapper">
        <div class="swiper-slide">
          <div class="card rating-card mobile-catalog-card">
            <span class="rating-card__star">
              <svg class="rating-card__star-svg">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              <span class="rating-card__star-text">4.5</span>
            </span>
            <img src="../img/similar-1.png" alt="картинка" class="rating-card__img similar__img">
            <div class="rating-card__content">
              <h3 class="title-reset rating-card__name">Диван велюровый<br>“R-85”</h3>
              <span class="rating-card__price">34 990 руб</span>
              <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card rating-card mobile-catalog-card">
            <span class="rating-card__star">
              <svg class="rating-card__star-svg">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              <span class="rating-card__star-text">4.6</span>
            </span>
            <img src="../img/similar-2.png" alt="картинка" class="rating-card__img similar__img">
            <div class="rating-card__content">
              <h3 class="title-reset rating-card__name">Диван флоковый<br>“H-58”</h3>
              <span class="rating-card__price">23 990 руб</span>
              <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card rating-card mobile-catalog-card">
            <span class="rating-card__star">
              <svg class="rating-card__star-svg">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              <span class="rating-card__star-text">4.5</span>
            </span>
            <img src="../img/similar-3.png" alt="картинка" class="rating-card__img similar__img">
            <div class="rating-card__content">
              <h3 class="title-reset rating-card__name">Диван велюровый<br>“S-44”</h3>
              <span class="rating-card__price">19 990 руб</span>
              <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card rating-card mobile-catalog-card">
            <span class="rating-card__star">
              <svg class="rating-card__star-svg">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              <span class="rating-card__star-text">4.8</span>
            </span>
            <img src="../img/rating-1920-7.png" alt="картинка" class="rating-card__img similar__img">
            <div class="rating-card__content">
              <h3 class="title-reset rating-card__name">Диван шиниловый<br>“V-43”</h3>
              <span class="rating-card__price">19 990 руб</span>
              <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card rating-card mobile-catalog-card">
            <span class="rating-card__star">
              <svg class="rating-card__star-svg">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              <span class="rating-card__star-text">4.5</span>
            </span>
            <img src="../img/catalog-7.png" alt="картинка" class="rating-card__img similar__img">
            <div class="rating-card__content">
              <h3 class="title-reset rating-card__name">Диван велюровый<br>“R-85”</h3>
              <span class="rating-card__price">34 990 руб</span>
              <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card rating-card mobile-catalog-card">
            <span class="rating-card__star">
              <svg class="rating-card__star-svg">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              <span class="rating-card__star-text">4.5</span>
            </span>
            <img src="../img/catalog-7.png" alt="картинка" class="rating-card__img similar__img">
            <div class="rating-card__content">
              <h3 class="title-reset rating-card__name">Диван велюровый<br>“R-85”</h3>
              <span class="rating-card__price">34 990 руб</span>
              <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card rating-card mobile-catalog-card">
            <span class="rating-card__star">
              <svg class="rating-card__star-svg">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              <span class="rating-card__star-text">4.5</span>
            </span>
            <img src="../img/catalog-7.png" alt="картинка" class="rating-card__img similar__img">
            <div class="rating-card__content">
              <h3 class="title-reset rating-card__name">Диван велюровый<br>“R-85”</h3>
              <span class="rating-card__price">34 990 руб</span>
              <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card rating-card mobile-catalog-card">
            <span class="rating-card__star">
              <svg class="rating-card__star-svg">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              <span class="rating-card__star-text">4.5</span>
            </span>
            <img src="../img/catalog-7.png" alt="картинка" class="rating-card__img similar__img">
            <div class="rating-card__content">
              <h3 class="title-reset rating-card__name">Диван велюровый<br>“R-85”</h3>
              <span class="rating-card__price">34 990 руб</span>
              <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card rating-card mobile-catalog-card">
            <span class="rating-card__star">
              <svg class="rating-card__star-svg">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              <span class="rating-card__star-text">4.5</span>
            </span>
            <img src="../img/catalog-7.png" alt="картинка" class="rating-card__img similar__img">
            <div class="rating-card__content">
              <h3 class="title-reset rating-card__name">Диван велюровый<br>“R-85”</h3>
              <span class="rating-card__price">34 990 руб</span>
              <a href="#" class="rating-card__btn btn-anim-transp">Купить</a>
            </div>
          </div>
        </div>


      </div>
      <div class="offers similar-bot-nav">
        <div class="offers__pagination offers__pagination-mobile">
          <div class="offers-pagintaion-content">
            <button class="btn-reset similar-back arrow-btn-anim">
              <svg class="similar-back__svg" width="32" height="32" viewBox="0 0 32 32"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="u">
                  <circle class="arrow-circle" cx="16" cy="16" r="15" fill="#FFF" stroke="#A65CF0" stroke-width="2" />
                  <path d="M14 11L19 16L14 21" class="arrow-path" stroke="#A65CF0" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
                </g>
                <defs>
                  <clipPath>
                    <rect width="32" height="32" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </button>
            <button class="btn-reset similar-next arrow-btn-anim ">
              <svg class="similar-next__svg" width="32" height="32" viewBox="0 0 32 32"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="u">
                  <circle class="arrow-circle" cx="16" cy="16" r="15" fill="#FFF" stroke="#A65CF0" stroke-width="2" />
                  <path d="M14 11L19 16L14 21" class="arrow-path" stroke="#A65CF0" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
                </g>
                <defs>
                  <clipPath>
                    <rect width="32" height="32" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>