<ul class="list-reset">
  <li class="item-descr-wrapper">
    <div class="item-descr-wrapper__type">
      <span class="item-descr-wrapper__title">Гарантия</span>
    </div>
    <span class="item-descr-wrapper__text">18 месяцев</span>
  </li>
  <li class="item-descr-wrapper">
    <div class="item-descr-wrapper__type">
      <span class="item-descr-wrapper__title">Артикул</span>
    </div>
    <span class="item-descr-wrapper__text">AAA41269004</span>
  </li>
  <li class="item-descr-wrapper">
    <div class="item-descr-wrapper__type">
      <span class="item-descr-wrapper__title">Длина</span>
    </div>
    <span class="item-descr-wrapper__text">163 см</span>
  </li>
  <li class="item-descr-wrapper">
    <div class="item-descr-wrapper__type">
      <span class="item-descr-wrapper__title">Высота</span>
    </div>
    <span class="item-descr-wrapper__text">90 см</span>
  </li>
  <li class="item-descr-wrapper">
    <div class="item-descr-wrapper__type">
      <span class="item-descr-wrapper__title">Глубина</span>
    </div>
    <span class="item-descr-wrapper__text">108 см</span>
  </li>
  <li class="item-descr-wrapper">
    <div class="item-descr-wrapper__type">
      <span class="item-descr-wrapper__title">Спальное место</span>
    </div>
    <span class="item-descr-wrapper__text">200 см х 125 см</span>
  </li>
  <li class="item-descr-wrapper">
    <div class="item-descr-wrapper__type">
      <span class="item-descr-wrapper__title">Высота посадки</span>
    </div>
    <span class="item-descr-wrapper__text">45 см</span>
  </li>
  <li class="item-descr-wrapper">
    <div class="item-descr-wrapper__type">
      <span class="item-descr-wrapper__title">Механизм</span>
    </div>
    <span class="item-descr-wrapper__text">Опорный</span>
  </li>
  <li class="item-descr-wrapper">
    <div class="item-descr-wrapper__type">
      <span class="item-descr-wrapper__title">Тип обивки</span>
    </div>
    <span class="item-descr-wrapper__text">Рогожка</span>
  </li>
  <li class="item-descr-wrapper">
    <div class="item-descr-wrapper__type">
      <span class="item-descr-wrapper__title">Цвет</span>
    </div>
    <span class="item-descr-wrapper__text">Синий</span>
  </li>
  <li class="item-descr-wrapper">
    <div class="item-descr-wrapper__type">
      <span class="item-descr-wrapper__title">Наполнитель</span>
    </div>
    <span class="item-descr-wrapper__text">Независимый пружинный блок</span>
  </li>
  <li class="item-descr-wrapper">
    <div class="item-descr-wrapper__type">
      <span class="item-descr-wrapper__title">Материал каркаса</span>
    </div>
    <span class="item-descr-wrapper__text">Металл. рама с дерев. латами</span>
  </li>
  <li class="item-descr-wrapper">
    <div class="item-descr-wrapper__type">
      <span class="item-descr-wrapper__title">Количество мест</span>
    </div>
    <span class="item-descr-wrapper__text">Двухместные</span>
  </li>
  <li class="item-descr-wrapper">
    <div class="item-descr-wrapper__type">
      <span class="item-descr-wrapper__title">Категория</span>
    </div>
    <span class="item-descr-wrapper__text">Прямые тканевые диваны</span>
  </li>
  <li class="item-descr-wrapper">
    <div class="item-descr-wrapper__type">
      <span class="item-descr-wrapper__title">Возврат</span>
    </div>
    <span class="item-descr-wrapper__text">Условия</span>
  </li>
</ul>