<div class="swiper-wrapper">
  <div class="swiper-slide detail-slide" data-graph-target="swiper-big">
    <img src="../img/detail-1.png" alt="картинка дивана" />
  </div>
  <div class="swiper-slide detail-slide" data-graph-target="swiper-big">
    <img src="../img/detail-2.png" alt="картинка дивана" />
  </div>
  <div class="swiper-slide detail-slide" data-graph-target="swiper-big">
    <img src="../img/detail-3.png" alt="картинка дивана" />
  </div>
  <div class="swiper-slide detail-slide" data-graph-target="swiper-big">
    <img src="../img/detail-4.png" alt="картинка дивана" />
  </div>
  <div class="swiper-slide detail-slide" data-graph-target="swiper-big">
    <img src="../img/detail-5.png" alt="картинка дивана" />
  </div>
</div>