<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="buy-one-click">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <div class="visible-content">
        <h3 class="title-reset graph-modal__title">Купить в один клик</h3>
        <p class="title-reset graph-modal__descr">Чтобы оформить заказ — заполните формы ниже и наш менеджер свяжется с
          вами в течении часа.</p>
        <form action="#" class="welcome-form" id="wel-form">
          <div class="input-wrapper welcome-form__wrapper">
            <div id="welcome-form__error-name" class="welcome-form__error"></div>
            <input id="wel-name" type="text" class="input welcome-form__input header-form-anim"
              placeholder="Как вас зовут?">
          </div>
          <div class="input-wrapper welcome-form__wrapper">
            <div id="welcome-form__error-tel" class="welcome-form__error"></div>
            <input id="wel-tel" type="tel" class="input welcome-form__input header-form-anim" placeholder="Ваш телефон">
          </div>
          <div class="input-wrapper welcome-form__wrapper">
            <div id="welcome-form__error-email" class="welcome-form__error"></div>
            <input id="wel-email" type="email" class="input welcome-form__input header-form-anim"
              placeholder="Ваш e-mail">
          </div>
          <button id="modal-btn" class="btn-reset welcome-form__btn btn-anim">Отправить</button>
          <label class="custom-checkbox">
            <input type="checkbox">
            <span class="checkmark"></span>

            <span class="welcome-form__agreement">Принимаю <span class="welcome-form__agreement-accent">пользовательское
                соглашение</span></span>
          </label>
        </form>
      </div>
    </div>

  </div>
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="grats">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content thank-card">

      <div class="thank-card__img"></div>
      <span class="thank-card__title">Спасибо, мы вам перезвоним!</span>

    </div>
  </div>


  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="swiper-modal">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <div class="swiper detail-swiper-top-2">
        @include('./detail-swiper-slides.html')
      </div>
      <div class="swiper detail-swiper-bottom-2">
        @include('./detail-swiper-slides.html')
      </div>

    </div>
  </div>
</div>
